
.navbar {
    width: 100%;
    background-color: #000;
    overflow: auto;
    margin-bottom: 5%;
  }
  
  .navbar a {
    float: right !important;
     
    color: white;
    text-decoration: none;
    font-size: 17px;
    
  }
  .navbar .active{
      float:left !important;
      width: 14%;
      margin-right: 55%;
      white-space: nowrap;
  }
  
  .navbar .active:hover {
    }
     
     .navbar .active .home {
    background-color: #555;
    width:20%;
  }
  
  @media screen and (max-width: 500px) {
    .navbar a {
      float: none;
      display: block;
    }
  }

  @media only screen and (max-width: 600px) {
    .navbar {
      flex-wrap: nowrap !important;
      padding-right: 60px !important;
    }

    .navbar .btn{
      white-space: nowrap;
    }
  }
  