.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    margin-bottom: .5rem;
    margin-left: 10%;
    font-weight: 100%;
    line-height: 1.2;
    font-family: 'Times New Roman', Times, serif;
    color: black;
    display: block;
    margin-block-start: 1.33em;
    margin-block-end: 1.33em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}